@import '../_variables.scss';

@mixin border($border:$primaryBorderColor) {
    border:1px solid $border;
    
}
$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;
@mixin small-down {
    @media (max-width: #{$medium-width - 1px}) {
      @content;
    }
  }
@mixin border-bottom {
    border-bottom:1px solid $secondaryBorderColor;
    
}

.questionBox{
    display: flex;
    margin: 25px 0 5px;
    @include small-down(){
        flex-direction: column;
    }
}
.questionDetail{
    width: 10%;
    color: #464646;
    display: flex;
    flex-direction: column;
    :last-child{
        font-size: 10px;
    }
    @include small-down(){
        flex-direction: row;
        width: auto;
        align-items: center;
    }
    
}
.scrollableQuestionsContainer{
    width: 85%;
    @include border(#9C9C9C);
    background-color: #F5F5F5;
    border-radius: 5px;
    color: $textPrimaryColor;
    padding: 15px 21px;
    // margin-right: 20px;
    .muChImageContainer{
        padding: 16px 0 0;
        display: flex;
        justify-content: center;
        img{
            @include border();
            max-width: 100%;
            max-height: 100%;
        }
    }
    .muChAudioContainer{
        padding: $defaultPadding 40px;
        @include border-bottom();
        display: flex;
        align-items: center;
        @include small-down(){
            padding: 10px;
        }
    }
    .homeworkAudioContainer{
        padding: $defaultPadding 40px;
        
    }
    .homeworkPdfContainer{
        
    }
    .muChQuestionContainer{
        padding: 16px 0;
        ul{
            list-style: none;
            li {
                display: flex;
                text-align: center;
                padding: 10px 0;
                .muChOptions{
                    font-weight: 500;
                    color: #464646;
                }
                .muChAnswer{
                    padding-right: 11px;
                }
            }
        }
    }
}