// @use "./styles/mixins.module";
@import  './styles/variables';
@import "~react-component-countdown-timer/lib/styles.css";
// @import '/src/styles/mixins';

$small-width: 480px;
$medium-width: 768px;
$large-width: 1024px;

@mixin extra-small {
  @media (max-width: #{$small-width - 1px}) {
    @content;
  }
}

@mixin small-down {
  @media (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-only {
  @media (min-width: #{$small-width}) and (max-width: #{$medium-width - 1px}) {
    @content;
  }
}

@mixin small-up {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium-only {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-width - 1px}) {
    @content;
  }
}

@mixin medium-up {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

#circle_container {
    // direction: rtl;
    width: 100px;
    height: 100px;
    transform: scaleX(-1) rotate(-225deg);
    fill: none;
    stroke: white;
    stroke-dasharray: 75 100;
    stroke-linecap: round;
}

#circle_container__background {
    fill: none;
    stroke: #D8D8D8;
    stroke-width: 3px;
    stroke-dasharray: 75 100;
    stroke-linecap: round;
}

#circle_container__progress {
    // direction: rtl;
    fill: none;
    stroke-linecap: round;
    stroke: url(#gradient);
    // edit this to change progress bar Hint: max => 75
    // stroke-dasharray: 18 100;
    stroke-linecap: round;
    stroke-width: 3px;
    transition: stroke-dashoffset 1s ease-in-out;
}

#stop1 {
    stop-color: $primaryColor;
}

#stop2 {
    stop-color: $primaryColor;
}



@mixin border($borderColor:$primaryBorderColor) {
    border:1px solid $borderColor;
    
}
@mixin border-bottom {
    border-bottom:1px solid $secondaryBorderColor;
    
}

@mixin box($padding:$defaultPadding) {
    padding: $padding;
    background-color:$white ;
    border-radius:$borderRadius ;
    display: flex;
}

@mixin buttons($background:$neon ,$textColor:$primaryColor ,$fontWeight:400 ) {
    text-align: center;
    font-weight: $fontWeight;
    padding: 5px 18px;
    background-color: $background;
    border-radius: 100px;
    color: $textColor;
    cursor: pointer;
    user-select: none;
}

@mixin heading {
    font-size: 18px;
    color: $primaryColor;
}

@mixin dataSheet {
    font-size: 12px;
    padding: $pad5;
    font-weight: 600;
}

@mixin test-button-option {
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    @include border();
    border-radius: $full;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}

.appContainer{
    background-image: linear-gradient($thirdColor, $fourthColor);
    height: 100%;
    min-height: 100vh;
    padding: 50px  230px !important ;
    @include small-down(){
        padding: 30px !important;
        // height: 100%;
    }
}

    .smSizeAppContainer{
    padding: 50px  130px !important ;

        @include small-down(){
            padding: 10px !important;
            height: 100%;
        }
    }

.examAppContainer{
    padding: 50px 130px !important;
    @include small-down(){
        padding: 10px !important;
        height: 100%;
    }
}
.container{
    display: flex;
    flex-direction:column;
    width: 100%;
    .timeRemainedContainer{
        margin: 0 0 10px;
        grid-template-columns: 1fr 3fr;
        display: grid;
        grid-column-gap: 10px   ;
        @include small-down(){
            display: flex !important;
            flex-direction: column !important
        }
        .headerBox{
            @include  box(14px);
            padding-bottom: 0;
            justify-content: space-between;
            // width: 31%;
            @include small-down(){
                font-size: 12px;
                padding: 5px 10px;
            }
            .buttonContainer{
                display: flex;
                justify-content: center;
                flex-direction: column;
                :first-child{
                    @include buttons($textColor:$thirdColor );
                    

                }
                :nth-child(2){
                    @include buttons($white );
                    padding-top: 8px;
                }
            }
            .countdownContainer{
                position: relative;
                .timeRemained{
                    position: absolute;
                    z-index: 100;
                    font-size: 13px;
                    display: flex;
                    flex-direction: column;
                    top: 35px;
                    right: 30px;
                    align-items: center;
                    #time{
                        color: $primaryColor;
                        font-weight: 600;
                    }
                    :last-child{
                        color: #9C9C9C;
                    }
                    // align-items: center;
                }
            }
        }

        .informationBar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            width: $full;
            @include small-down(){
                margin: 10px 0;
            }
            .examDetails{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .examDetailsTitle{
                    display: flex;
                    align-items: center;
                    h1{
                        letter-spacing: 1px;
                        padding: 0 10px;
                        text-shadow: 0px 0px 20px $neon ;
                        @include small-down(){
                            font-size: 15px;
                        }
                    }
                    p{
                        text-shadow: 0px 0px 20px #48EEFC;
                        @include small-down(){
                            font-size: 10px;
                        }
                    }
                }
                #returnBtn{
                    align-items: center;
                    font-size: $font-size-df;
                    font-weight: 500;
                    width: 180px;
                    display: flex;
                    padding:10px 12px;
                    background-color: $white;
                    border-radius: 10px;
                    color:#5E5E5E;
                    justify-content: space-between;
                    user-select: none;
                    cursor: pointer;
                    @include small-down(){
                        width: 40%;
                        font-size: 10px;
                        padding: 5px 6px;
                    }
                    .exitIcon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 28px;
                        border-radius: 100px;
                        background-color: $primaryColor;
                    }
                }
            }
        }
        .personalDetails{
            padding: 10px 0;
            @include small-down(){
                font-size: 10px;
            }
            ul {
                display: flex;
                list-style: none;
                li{
                    padding: 0 15px;
                    @include small-down(){
                        padding: 0 5px ;
                        text-align: center;
                    }
                }
                li:first-child{
                    padding-right: 10px;
                }
            }
        }
        // width: 22%;
        display: flex;
        // flex-direction: column;
        // justify-content: space-between; ////////////////////////////////////////////////////////////
    }
    // .main-container{
    //     // width:78%;
    //     display: flex;
    //     // flex-direction: column;
    // }
}

// .headerBox{
//     @include  box(14px);
//     justify-content: space-between;
//     width: 28%;
//     .button_container{
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         :first-child{
            
//             @include buttons($textColor:$thirdColor);
//         }
//         :last-child{
//             @include buttons($white);
//             padding-top: 8px;
//         }
//     }
//     .timeRemained{
//         display: flex;
//         color: $primaryColor;
//         align-items: center;
//     }
// }

.answerSheetContainer{
    @include box();
    // width: 27%;
    flex-direction: column;
    // margin-left: 10px;
    @include small-down(){
        margin-top: 15px;
    }
    .answerSheetHeader{
        padding: 10px ;
        display: flex;
        justify-content: space-between;
        @include border-bottom();
        h3 {
            display: flex;
            @include heading();
        }
        .answerDatasheet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_answer{
                @include dataSheet();
                color:$neon;
            }
            &_notAnswer{
                @include dataSheet();
                color:red;
            }
        }
    }
    // answer sheet section
    .textareaContainer{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        height: 100%;
        .textarea{
            border-radius: 5px;
            height: 100%;
            resize: none;
            outline: none;
            padding: 9px 11px;
            width: $full;
            @include border(#9c9c9c);
        }
        .uploadSection{
            #uploadbtn{
                width: 50%;
                margin: 21px 0;
                font-size: 13px;
                color: $primaryColor;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                border: 2px solid $primaryColor;
                border-radius: 25px;
            }
            #upload_details{
                display: flex;
                color: $textPrimaryColor;
                text-align: center;
                justify-content: end;
                p{
                    font-size: $font-size-df;
                    padding-left: 13px;
                }
            }
        }
    }

    .uploadAnswersSheet{
        direction:ltr;
        // padding: 0 10px;
        height: 430px;
        overflow-y: auto;
        ol{
            display: flex;
            flex-direction: column;
            padding: 10px 30px 0 0 ;
            // overflow-y:auto ; 
        }
    }

    .descriptiveSheet{
        direction:ltr;
        padding: 10px 10px 0 10px;
        height: 430px;
        overflow-y: auto;
        ol{
            display: flex;
            flex-direction: column;
            padding-right: 15px;
        }
    }


    .answerSheet{
        direction:ltr;
        padding: 10px 9px 0 10px;
        height: 430px;
        overflow-y: auto;

        

        ol{
            display: flex;
            flex-direction: column;
            padding-right: 25px;
            // overflow-y:auto ; 
        }
        .testRow{
            display: flex;
            // padding-right: $defaultPadding;
            justify-content: space-between;
            .testOptionsContainer{
                display: flex;
            }
            .testOptionButton {
                @include test-button-option();
            }
            .grade{
                font-size: 12px;
                font-weight: 600;
                flex-direction: column;
                display: flex;
                justify-content: center;
            }
        }
    }

}

.activeOptionTest{
    font-weight: 600;
    background-color: $neon;
    color: #270556;
}

// main section 
    // header
.mainContainer{
    grid-template-columns: 1fr 3fr;
    // flex-direction: column;
    // padding-right: $defaultMargin;
    
    display: grid;
    @include small-down(){
        display: flex;
        flex-direction: column-reverse;
    }
    .personalDetails{
        padding: 10px 0;
        @include small-down(){
            font-size: 10px;
        }
        ul {
            display: flex;
            list-style: none;
            li{
                padding: 0 15px;
            }
            li:first-child{
                padding-right: 10px;
            }
        }
    }
}

.questionSection{
    @include box();
    // display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    // max-width: 60%;
    margin-right: 10px;
    @include small-down(){
        margin-right: 0 ;
        padding: 13px;
    }
    &_header{
        display: flex;
    width: 100%;

        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        @include border-bottom();
        h2{
            color: $primaryColor;
            @include small-down(){
                font-size: 21px;
            }
        }
        .reloadBtn{
            color: $primaryColor;
            display: flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            align-items:center ;
            p{
                font-weight: 600;
                font-size: 14px;
                padding: 0 10px;
            }
            #refreshIcon{
                display: flex;
                align-items: center;
            }
        }
    }
    .questionContainer{
        padding-top: $defaultPadding;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        font-size: $font-size-df ;
        height: 450px;
        padding: 0 10px;
        @media (min-width:1550px){
            height: 530px;
        }
        // height: ;
        .questionBox{
            display: flex;
            margin: 25px 0 5px;
        }
        .questionDetail{
            width: 10%;
        }
        .scrollableQuestionsContainer{
            width: 100%;
            @include border(#9C9C9C);
            background-color: #F5F5F5;
            border-radius: 5px;
            color: $textPrimaryColor;
            padding: 15px 21px;
            // margin-right: 20px;
            .muChImageContainer{
                padding: 16px 0 4px;
            }
            .muChAudioContainer{
                padding: $defaultPadding 40px;
                @include border-bottom();
            }
            .muChQuestionContainer{
                padding: 16px 0;
                ul{
                    list-style: none;
                    li {
                        display: flex;
                        text-align: center;
                        padding: 5px 0;
                        .muChOptions{
                            font-weight: 500;
                            color: #464646;
                        }
                        .muChAnswer{
                            padding-right: 11px;
                        }
                    }
                }
            }
            
        }
    }
}

#returnBtn{
    align-items: center;
    font-size: $font-size-df;
    font-weight: 500;
    width: 180px;
    display: flex;
    padding:10px 12px;
    background-color: $white;
    border-radius: 10px;
    color:#5E5E5E;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    @include small-down(){
        flex-direction: column-reverse;
        width: auto;
        font-size: 12px;
    }
    .exitIcon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 28px;
        border-radius: 100px;
        background-color: $primaryColor;
        
    }
}

.examInfo{

    &__container{
        display: flex;
        flex-direction: row !important;
        padding: 20px 10px !important;
        height: auto !important;
    width: 100%;

        @include small-down(){
            flex-direction: column-reverse !important;
            width: auto;
            font-size: 12px;
        }
    }
    &__info_container{
        display: flex;
        padding: 10px 0;
    }
    &__title{
        color: $textPrimaryColor;
        width: 170px;
        @include small-down(){
            width: 130px;
        }
    }
    &__detail{
        margin-right: 10px;
    }
    &__btn_container{
        display: flex;
        padding: 10px 0;
        justify-content: center;
    }
    &__btn{
        all: unset;
        padding: 10px 20px;
        border-radius: 1000px;
        background-color: $neon;
        color: $thirdColor;
        cursor: pointer;
    }
    &__login_section{
        display: flex;
        width: 100%;
        border-right: 1px solid $primaryBorderColor;
        @include small-down(){
            border: none !important;
            margin-bottom: 15px;

        }
    }
    &__login{
        margin: auto;
        display: flex;
        flex-direction: column;
        #forgetPassword{
            color: #007bff;
            cursor: pointer;
            margin: 16px 0;
            font-size: 13px;
            text-decoration: underline;
            display: flex;
            &:hover{
                color: $neon;
            }
        }
        &_title{
            display: flex;
            justify-content: center;
            color: #9c9c9c;
            margin-bottom: 16px;
        }
        &_info{
            font-size: 13px;
            font-weight: 400;
            color: #000;
        }
        &_input{
            border: 1px solid $secondaryBorderColor;
            color: #9C9C9C;
            margin-bottom: 16px;
            border-radius: 100px;
            padding: 5px 10px;
            width: 200px;
            &:focus{
                border:1px solid #000;
            }
        }
        &_btn{
            all: unset;
            padding: 10px 0;
            background-color: $primaryColor;
            color: #fff;
            display: flex;
            justify-content: center;
            border-radius: 100px;
            cursor: pointer;
        }
    }
}

.notFound__title{
    display: flex;
    color:#fff;
    align-self: center;
}

.unlimited_text{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    .title{
        margin: 75px 0;
        text-shadow: 0px 0px 3px $neon;
        @include small-down(){
            font-size: 20px;
        }
    }
    .redirect__btn{
        all: unset;
        color: $primaryColor;
        font-weight: 600;
        border: 3px solid $primaryColor;
        border-radius: 65px;
        padding: 5px 12px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}
#resendMessage{
    font-size: 12px;
    margin: 8px 0 16px;
}