@import  '../src/styles/variables';
// @import '/src/styles/mixins';


#circle_container {
    // direction: rtl;
    width: 100px;
    height: 100px;
    transform: scaleX(-1) rotate(-225deg);
    fill: none;
    stroke: white;
    stroke-dasharray: 75 100;
    stroke-linecap: round;
}

#circle_container__background {
    fill: none;
    stroke: #D8D8D8;
    stroke-width: 3px;
    stroke-dasharray: 75 100;
    stroke-linecap: round;
}

#circle_container__progress {
    // direction: rtl;
    fill: none;
    stroke-linecap: round;
    stroke: url(#gradient);
    // edit this to change progress bar Hint: max => 75
    stroke-dasharray: 25 100;
    stroke-linecap: round;
    stroke-width: 3px;
    transition: stroke-dashoffset 1s ease-in-out;
}

#stop1 {
    stop-color: $primaryColor;
}

#stop2 {
    stop-color: $primaryColor;
}



@mixin border($borderColor:$primaryBorderColor) {
    border:1px solid $borderColor;
    
}
@mixin border-bottom {
    border-bottom:1px solid $secondaryBorderColor;
    
}

@mixin box($padding:$defaultPadding) {
    padding: $padding;
    background-color:$white ;
    border-radius:$borderRadius ;
    display: flex;
}

@mixin buttons($background:$neon ,$textColor:$primaryColor ,$fontWeight:500 ) {
    text-align: center;
    font-weight: $fontWeight;
    padding: 5px 18px;
    background-color: $background;
    border-radius: 100px;
    color: $textColor;
    cursor: pointer;
    user-select: none;
}

@mixin heading {
    font-size: 18px;
    color: $primaryColor;
}

@mixin dataSheet {
    font-size: 12px;
    padding: $pad5;
    font-weight: 600;
}

@mixin test-button-option {
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    @include border();
    border-radius: $full;
    margin: 5px;
    user-select: none;
    cursor: pointer;
}


.appContainer{
    background-image: linear-gradient($thirdColor, $fourthColor);
    height: 100vh;
    padding: 50px  64px ;
}
.container{
    display: flex;
    width: 100%;
    flex-direction:column;
    .examTimeRemainedContainer{
        margin: 0 0 10px;

        .headerBox{
            @include  box(14px);
            justify-content: space-between;
            width: 28%;
            .buttonContainer{
                display: flex;
                justify-content: center;
                flex-direction: column;
                :first-child{
                    @include buttons($textColor:$thirdColor ,$fontWeight:bold);
                }
                :last-child{
                    @include buttons($white , $fontWeight:normal);
                    padding-top: 8px;
                }
            }
            .timeRemained{
                display: flex;
                color: $primaryColor;
                align-items: center;
            }
        }

        .informationBar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            width: $full;
            .examDetails{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .examDetailsTitle{
                    display: flex;
                    align-items: center;
                    h1{
                        padding: 0 10px;
                        text-shadow: 0px 0px 20px $neon ;
                    }
                    p{
                        text-shadow: 0px 0px 20px #48EEFC;
                    }
                }
                #returnBtn{
                    align-items: center;
                    font-size: $font-size-df;
                    font-weight: 500;
                    width: 180px;
                    display: flex;
                    padding:10px 12px;
                    background-color: $white;
                    border-radius: 10px;
                    color:#5E5E5E;
                    justify-content: space-between;
                    user-select: none;
                    cursor: pointer;
                    .exitIcon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 28px;
                        border-radius: 100px;
                        background-color: $primaryColor;
                    }
                }
            }
        }
        .personalDetails{
            padding: 10px 0;
            ul {
                display: flex;
                list-style: none;
                li{
                    padding: 0 15px;
                }
                li:first-child{
                    padding-right: 10px;
                }
            }
        }
        // width: 22%;
        display: flex;
        // flex-direction: column;
        // justify-content: space-between; ////////////////////////////////////////////////////////////
    }
    // .main-container{
    //     // width:78%;
    //     display: flex;
    //     // flex-direction: column;
    // }
}

// .headerBox{
//     @include  box(14px);
//     justify-content: space-between;
//     width: 28%;
//     .button_container{
//         display: flex;
//         justify-content: center;
//         flex-direction: column;
//         :first-child{
            
//             @include buttons($textColor:$thirdColor);
//         }
//         :last-child{
//             @include buttons($white);
//             padding-top: 8px;
//         }
//     }
//     .timeRemained{
//         display: flex;
//         color: $primaryColor;
//         align-items: center;
//     }
// }

.answerSheetContainer{
    @include box();
    width: 27%;
    flex-direction: column;
    margin-left: 10px;
    .answerSheetHeader{
        padding: 10px ;
        display: flex;
        justify-content: space-between;
        @include border-bottom();
        h3 {
            display: flex;
            @include heading();
        }
        .answerDatasheet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &_answer{
                @include dataSheet();
                color:$neon;
            }
            &_notAnswer{
                @include dataSheet();
                color:red;
            }
        }
    }
    // answer sheet section
    .textareaContainer{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        height: 100%;
        .textarea{
            border-radius: 5px;
            height: 100%;
            resize: none;
            outline: none;
            padding: 9px 11px;
            width: $full;
            @include border(#9c9c9c);
        }
        .uploadSection{
            #uploadbtn{
                width: 50%;
                margin: 21px 0;
                font-size: 13px;
                color: $primaryColor;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 10px;
                border: 2px solid $primaryColor;
                border-radius: 25px;
            }
            #upload_details{
                display: flex;
                color: $textPrimaryColor;
                text-align: center;
                justify-content: end;
                p{
                    font-size: $font-size-df;
                    padding-left: 13px;
                }
            }
        }
    }

    .uploadAnswersSheet{
        direction:ltr;
        // padding: 0 10px;
        height: 430px;
        overflow-y: auto;
        ul{
            display: flex;
            flex-direction: column;
            padding: 10px 30px 0 0 ;
            // overflow-y:auto ; 
        }
    }

    .descriptiveSheet{
        direction:ltr;
        padding: 10px 10px 0 10px;
        height: 430px;
        overflow-y: auto;
        ul{
            display: flex;
            flex-direction: column;
            padding-right: 15px;
        }
    }


    .answerSheet{
        direction:ltr;
        padding: 10px 10px 0 10px;
        height: 430px;
        overflow-y: auto;

        

        ul{
            display: flex;
            flex-direction: column;
            padding-right: 15px;
            // overflow-y:auto ; 
        }
        .testRow{
            display: flex;
            // padding-right: $defaultPadding;
            justify-content: space-between;
            .testOptionsContainer{
                display: flex;
            }
            .testOptionButton {
                @include test-button-option();
            }
            .grade{
                font-size: 12px;
                font-weight: 600;
                flex-direction: column;
                display: flex;
                justify-content: center;
            }
        }
    }

}

.activeOptionTest{
    font-weight: 600;
    background-color: $neon;
    color: #270556;
}

// main section 
    // header
.mainContainer{
    display: flex;
    // flex-direction: column;
    // padding-right: $defaultMargin;
    
    .personalCetails{
        padding: 10px 0;
        ul {
            display: flex;
            list-style: none;
            li{
                padding: 0 15px;
            }
            li:first-child{
                padding-right: 10px;
            }
        }
    }
}

.questionSection{
    @include box();
    display: flex;
    flex-direction: column;
    width: $full;
    // margin-top: 40px;
    &_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        @include border-bottom();
        h2{
            color: $primaryColor;
        }
        .reloadBtn{
            color: $primaryColor;
            display: flex;
            align-items: center;
            user-select: none;
            cursor: pointer;
            align-items:center ;
            p{
                font-weight: 600;
                font-size: 14px;
                padding: 0 10px;
            }
            #refreshIcon{
                display: flex;
                align-items: center;
            }
        }
    }
    .questionContainer{
        padding-top: $defaultPadding;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        font-size: $font-size-df ;
        height: 450px;
        padding: 0 10px;
        // height: ;
        .questionBox{
            display: flex;
            margin: 25px 0 5px;
        }
        .questionDetail{
            width: 10%;
        }
        .scrollableQuestionsContainer{
            width: 100%;
            @include border(#9C9C9C);
            background-color: #F5F5F5;
            border-radius: 5px;
            color: $textPrimaryColor;
            padding: 15px 21px;
            // margin-right: 20px;
            .muChImageContainer{
                padding: 16px 0 4px;
            }
            .muChAudioContainer{
                padding: $defaultPadding 40px;
                @include border-bottom();
            }
            .muChQuestionContainer{
                padding: 16px 0;
                ul{
                    list-style: none;
                    li {
                        display: flex;
                        text-align: center;
                        padding: 5px 0;
                        .muChOptions{
                            font-weight: 500;
                            color: #464646;
                        }
                        .muChAnswer{
                            padding-right: 11px;
                        }
                    }
                }
            }
            
        }
    }
}
