@import "../src/styles/variables";

// @import url("//db.onlinewebfonts.com/c/5c53f1a72f61b5b51e2ea79a22ebc38b?family=IRANSansWeb(FaNum)");
// @import url("//db.onlinewebfonts.com/c/002254488ce1877d55ad3693e527ad1e?family=IRANSansWeb");

@font-face {
  font-family: "IRANSansWeb";
  src: url("./assets/fonts/IRANSansFaNum_Medium.ttf");
  src: url("./assets/fonts/IRANSansFaNum_Medium.ttf")
      format("truetype"),
    url("./assets/fonts/IRANSansFaNum_Medium.ttf")
      format("truetype"),
    url("./assets/fonts/IRANSansFaNum_UltraLight.ttf")
      format("truetype"),
    // url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.ttf")
    //   format("truetype"),
    // url("//db.onlinewebfonts.com/t/002254488ce1877d55ad3693e527ad1e.svg#IRANSansWeb")
    //   format("svg");
}

* {
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;
  outline: none;
  resize: none;
  font-family: "IRANSansWeb", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// ul {
//   list-style-type: arabic-indic;
// }

::-webkit-scrollbar {

    width: 6px;

    &-track {
        background-color: transparent;
    }
    &-thumb {
        background-color: #3F4254;
    }
    &-thumb:hover {
        background-color: #c9c9c9;
    }
}
